<section >
  <div class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32   lg:pt-32">
    <div class="lg:text-center">
      <h1 class="text-4xl tracking-tight text-balance font-medium font-display text-black md:text-8xl">
       No Olives Allowed
      </h1>
      <p style="margin-top: 4em;">Here. Find recipes. No spice. No olives. Georgie approves (kind of).</p>
    </div>
  </div>
</section>
