---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="bg-white flex flex-col min-h-screen">
    <Navigation />
    <main class="px-8 md:px-12 mx-auto max-w-7xl py-12 lg:px-32"><slot /></main>
    <Footer />
  </body>
</html>
